#matches
{
    display: flex;
    justify-content: center;
    width: 100%;   
}
.wider-list
{
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: white;
}
.list
{
    width: 90%;
    background-color: white;
}
.match:first-child
{
    border-top: 1px solid #ddd;
}
.match
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #ddd !important;
    color: #777;
    position: relative;
}
.match:hover
{
    opacity: 0.5;
}
.date
{
    display: inline-block;
    width: 135px;
    text-align: center;
}
.info
{
    display: inline-block;
    text-align: center;
    width: 620px;
}

.info span
{
    padding: 10px;
}

.list button
{
    background-color: white;
    border: none;
}

.team
{
    display: inline-block;
    width: 250px;
}

.score
{
    width: 100px;
    display: inline-block;
}