main
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.board
{
    display: flex;
    justify-content: center;
    width: 80%;
    min-width: 1170px;
    background-color: white;
}

.center
{
    width: 90%;
}

.toty
{
    margin-top: 10px;
    font-size: 30px;
    border-bottom: 1px solid #ddd;
    line-height: 40px;
}

.players
{
    background-color: #49a300; /*#d5ffb3*/
    margin: 30px 0;
    width: 100%;
    padding: 45px 0;
    position: relative;
    border-radius: 50px;
}

.formation
{
    left: 20px;
    top: 20px;
    position: absolute;
    font-size: 50px;
    margin-left: 20px;
    color: white;
}

.player
{
    background-color: white;
    width: 250px;
    height: 150px;
    padding: 10px;
    border-radius: 20px;
}

.left
{
    width: 80px;
    height: 130px;
    float: left;
}

.arms
{
    height: 80px;
    width: 80px;
    background-color: blue;
}

.rate
{
    height: 50px;
    width: 80px;
    background-color: green;
}

.right
{
    float: left;
    height: 130px;
    width: 150px;
    background-color: red;
}

.N, .P, .BR
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.player-N
{

}

.S, .BP, .SO
{
    display: flex;
    justify-content: space-between;
}

.SO, .BR
{
    margin-top: 50px;
}

.BO
{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.player-LP, .player-LO, .player-LS
{
    margin-left: 13%;
}

.player-PP, .player-PO, .player-PS
{
    margin-right: 13%;
}

.player-PSO
{
    margin-right: 26%;
}

.player-LSO
{
    margin-left: 26%;
}
