<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=chrome,edge=1"/>

        <link rel="stylesheet" href="./css/bootstrap.min.css">

        <link rel="stylesheet" href="./style/main.css">
        {% block style %} {% endblock style %}

        <title>Soccerstat</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id="app" class="bg-light">
            <div id="header">
                <div class="container-fluid progress top">
                    <a href="index.php"><h1>Soccerstat.pl</h1></a>
                </div>
                <div class="bottom-bar">
                    <a href="index.php" class="all">
                        <div>ALL</div>
                    </a>
                    <form v-for="l in ligi" v-bind:key="l.id" class="liga" action="index.php" method="post">
                      <input name="league" type="hidden" :value="l.title">
                      <button type="submit" class="ligain">
                        <img :src="l.im">
                        {% verbatim %}
                        <div>{{ l.title }}</div>
                        {% endverbatim %}
                      </button>
                    </form>
                </div>
                <div class="options">
                    <a v-for="(o, i) in opt" v-bind:key="o.id" href="#">
                        <button class="option" @click="useOption(i)">
                            {% verbatim %}
                            <div>{{ o.title }}</div>
                            {% endverbatim %}
                        </button>
                    </a>
                </div>
            </div>

        {% block content %} {% endblock content %}

            <div class="padding"></div>

            <div id="footer">
                <div>
                    <div class="name">Soccerstat.pl</div>
                    <div>
                        Created by Maksim Brzezinski & Kacper Buczko & Miłosz Orliński & Dawid Bronszkiewicz
                    </div>
                </div>
            </div>

            <div id="overlay" v-if="showAddMatch">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add match</h5>
                            <button type="button" class="btn-close" @click="showAddMatch=false"></button>
                        </div>
                        <div class="modal-body p-4">
                            <form action="./addMatch.php" method="post">
                                <div class="row mb-2">
                                    <div class="col">
                                      <input type="text" name="team1" class="form-control" placeholder="Team 1">
                                    </div>
                                    <div class="col">
                                      <input type="text" name="team2" class="form-control" placeholder="Team 2">
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col">
                                      <input type="text" name="score1" class="form-control" placeholder="Score">
                                    </div>
                                    <div class="col">
                                      <input type="text" name="score2" class="form-control" placeholder="Score">
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col">
                                      <input type="text" name="possession1" class="form-control" placeholder="Possession">
                                    </div>
                                    <div class="col">
                                      <input type="text" name="possession2" class="form-control" placeholder="Possession">
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col">
                                      <input type="text" name="apasses1" class="form-control" placeholder="Accurate passes">
                                    </div>
                                    <div class="col">
                                      <input type="text" name="apasses2" class="form-control" placeholder="Accurate passes">
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col">
                                      <input type="text" name="shoots1" class="form-control" placeholder="Shoots">
                                    </div>
                                    <div class="col">
                                      <input type="text" name="shoots2" class="form-control" placeholder="Shoots">
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col">
                                      <input type="text" name="ashoots1" class="form-control" placeholder="Accurate shoots">
                                    </div>
                                    <div class="col">
                                      <input type="text" name="ashoots2" class="form-control" placeholder="Accurate shoots">
                                    </div>
                                </div>
                                
                                <div class="row mb-2">
                                    <div class="col">
                                      <input type="text" name="yellow1" class="form-control" placeholder="Yellow cards">
                                    </div>
                                    <div class="col">
                                      <input type="text" name="yellow2" class="form-control" placeholder="Yellow cards">
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col">
                                      <input type="text" name="red1" class="form-control" placeholder="Red cards">
                                    </div>
                                    <div class="col">
                                      <input type="text" name="red2" class="form-control" placeholder="Red cards">
                                    </div>
                                </div>
                                
                                <div class="row mb-2">
                                    <div class="col">
                                      <input type="text" name="free1" class="form-control" placeholder="Free kicks">
                                    </div>
                                    <div class="col">
                                      <input type="text" name="free2" class="form-control" placeholder="Free kicks">
                                    </div>
                                </div>
                                
                                <div class="row mb-2">
                                    <div class="col">
                                      <input type="text" name="penalty1" class="form-control" placeholder="Penalty kicks">
                                    </div>
                                    <div class="col">
                                      <input type="text" name="penalty2" class="form-control" placeholder="Penalty kicks">
                                    </div>
                                </div>
                                
                                <div class="row mb-2">
                                    <div class="col">
                                      <input type="text" name="corner1" class="form-control" placeholder="Corner kicks">
                                    </div>
                                    <div class="col">
                                      <input type="text" name="corner2" class="form-control" placeholder="Corner kicks">
                                    </div>
                                </div>
                                
                                <div class="row mb-2">
                                    <div class="col">
                                      <input type="text" name="fauls1" class="form-control" placeholder="Fauls">
                                    </div>
                                    <div class="col">
                                      <input type="text" name="fauls2" class="form-control" placeholder="Fauls">
                                    </div>
                                </div>
                                
                                <div class="mb-2">
                                    <input type="submit" class="btn btn-success w-100 btn-m" value="Add match">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="import" v-if="showImport">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Import data</h5>
                            <button type="button" class="btn-close" @click="showImport=false"></button>
                        </div>
                        <div class="modal-body p-4">
                            <div class="mb-3">
                                With this option you can import the database content in the selected format:
                            </div>

                            <form action="import.php" method="post" enctype="multipart/form-data">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="flexRadioDefault" value="json" id="flexRadioDefault1" checked>
                                  <label class="form-check-label" for="flexRadioDefault1">
                                    .json
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="flexRadioDefault" value="csv" id="flexRadioDefault2">
                                  <label class="form-check-label" for="flexRadioDefault2">
                                    .csv
                                  </label>
                              </div>

                              <div class="input-group mb-3 mt-3">
                                  <input type="file" class="form-control" id="inputGroupFile01" name="csvFile">
                              </div>

                              <div class="mb-3 mt-3">
                                  <input class="btn btn-success w-100 btn-m" value="Import data" type="submit">
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="export" v-if="showExport">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Export data</h5>
                            <button type="button" class="btn-close" @click="showExport=false"></button>
                        </div>
                        <div class="modal-body p-4">
                            <div class="mb-3">
                                With this option you can export the database content in the selected format:
                            </div>

                            <form action="export.php" method="post">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="flexRadioDefault" value="json" id="flexRadioDefault1" checked>
                                  <label class="form-check-label" for="flexRadioDefault1">
                                    .json
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="flexRadioDefault" value="csv" id="flexRadioDefault2">
                                  <label class="form-check-label" for="flexRadioDefault2">
                                    .csv
                                  </label>
                              </div>

                              <div class="mb-3 mt-3">
                                <input class="btn btn-success w-100 btn-m" value="Export data" type="submit">
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="info" v-if="showInfo">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Information</h5>
                        </div>
                        <div class="modal-body p-4">
                            <div class="mb-3">
                                {% verbatim %}
                                {{infoVal}}
                                {% endverbatim %}
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-success w-100 btn-m" @click="showInfo=false">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <script type="text/javascript" src="./main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
        <script src="./js/bootstrap.min.js"></script>
    </body>
</html>