{% extends "main.twig" %}

{% block style %}
<link rel="stylesheet" href="./style/TOTY.css">
{% endblock style %}

{% block content %}
<div class="board container-fluid bg-light">

</div>
{% endblock content %}